:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, serif;
  color: #212121;
}

body {
  background: #FFFFFF;
  margin: 30px 50px;
  line-height: 1.5;
}

.btn {
  background: #616161;
  color: #FAFAFA;
  padding: 7px;
  text-decoration: none;
  border: 0;
  border-radius: 3px;
}

img {
  max-width: 100%;
}

.Wrapper {
  display: grid;
  grid-gap: 20px;
}

.logo{
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  height: 115px;
}

.logo h1{
  text-decoration: none;
  display: block;
  font-size: 75px;
}

.main-nav ul {
  display: grid;
  padding-left: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
  background: #212121;
  display: block;
  text-decoration: none;
  color: #FAFAFA;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 11px;
}

.main-nav a:hover {
  color: gray;
}

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'top-box-a showcase showcase'
  'top-box-b showcase showcase'
}

.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(charts-cup-of-coffee-desk-1345089.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: #FAFAFA;
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: #FAFAFA;
}

.top-box {
  background: #E0E0E0;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .pris{
  font-size: 2.5rem;
}

.top-box-a{
  grid-area: top-box-a;
}

.top-box-b{
  grid-area: top-box-b;
}

.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-bottom: 1.5rem;
}

.box {
  background: #BDBDBD;
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  color: #212121;
}

.info {
  background: #E0E0E0;
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}

footer {
  margin-top: 2rem;
  background: #212121;
  color: #FAFAFA;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 700px) {

  .top-container {
    grid-template-areas:
    'showcase showcase'
    'top-box-a top-box-b'
  }

  .showcase h1 {
    font-size: 2.5rem;
  }
  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 500px) {

  .top-container {
    grid-template-areas:
    'showcase'
    'top-box-a'
    'top-box-b'
  }

}
